[Unit]
Description=File synchronization desktop utility
Documentation=man:nextcloud(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 3
ExecStart=nextcloud
Restart=on-failure
RestartSec=1

[Install]
WantedBy=sway-session.target
