[Desktop Entry]
Type=Application
Name=mutt
Comment=Launches the mutt email client
Icon=email
Terminal=true
Exec=mutt-run
Categories=ConsoleOnly;System;Network;Email;
