{
  "host": "mail.example.com",
  "port": 993,
  "tls": true,
  "tlsOptions": {
    "rejectUnauthorized": false
  },
  "username": "myuser",
  "password": "",
  "passwordCmd": "pass login/mail | head -n1",
  "onNewMail": "mbsync personal",
  "onNewMailPost": "",
  "boxes": [ "INBOX" ]
}
