[Unit]
Description=Bash terminal
Documentation=man:bash(1)
PartOf=graphical-session.target
Requires=foot.service
After=waybar.service
After=foot.service

[Service]
Type=oneshot
ExecStartPre=sleep 1
ExecStart=footclient bash --rcfile "%E/sway/bashrc" -i
RemainAfterExit=no

[Install]
WantedBy=sway-session.target
