*

# Include these files:
!pianobar/
!pianobar/*
!sublime-text-3/
!sublime-text-3/*
!user-dirs.dirs
!user-dirs.locale
!environment.d
!environment.d/*
!sway/
!sway/*
!swaylock/
!swaylock/*
!i3status/
!i3status/*
!mako/
!mako/*
!networkmanager-dmenu/
!networkmanager-dmenu/*
!bash/
!bash/*
!gtk-3.0/
!gtk-3.0/settings.ini
