*

# Include these files:
!pianobar/
!pianobar/*
!sublime-text-3/
!sublime-text-3/*
!user-dirs.dirs
!user-dirs.locale
!environment.d
!environment.d/*
!sway/
!sway/**
sway/config.d/99_*
!swaylock/
!swaylock/*
!i3status/
!i3status/*
!mako/
!mako/*
!kanshi/
!kanshi/*
!networkmanager-dmenu/
!networkmanager-dmenu/*
!bash/
!bash/*
!waybar/
!waybar/*
!xdg-desktop-portal-wlr/
!xdg-desktop-portal-wlr/*
!swappy/config
!starship.toml
!libinput-gestures.conf
!gtk-3.0/
!gtk-3.0/settings.ini
!gtk-2.0/
!gtk-2.0/light.gtkrc
!apachedirectorystudio/
!apachedirectorystudio/*
!systemd/
!systemd/user/
!systemd/user/*
systemd/user/*.wants
