*

# Include these files:
!pianobar/
!pianobar/*
!sublime-text-3/
!sublime-text-3/*
!user-dirs.dirs
!user-dirs.locale
!environment.d
!environment.d/*
!sway/
!sway/*
!i3status/
!i3status/*
!termite/
!termite/*
!networkmanager-dmenu/
!networkmanager-dmenu/*
!bash/
!bash/*
