IMAPAccount personal
Host mail.example.com
Port 993
UserCmd "secret-attr user mail-account personal"
PassCmd "secret-tool lookup mail-account personal"
SSLType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

IMAPStore personal-remote
Account personal

MaildirStore personal-local
SubFolders Verbatim
Path ~/.mail/personal/
Inbox ~/.mail/personal/Inbox

Channel personal
Far :personal-remote:
Near :personal-local:
# Include everything
Patterns *
# Automatically create missing mailboxes, both locally and on the server
Create Both
# Sync the movement of messages between folders and deletions, add after making sure the sync works
Expunge Both
# Save the synchronization state files in the relevant directory
SyncState *
